.callback-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .loading-spinner {
    padding: 20px;
    border-radius: 4px;
    background: black;
  }
  
  .error-container {
    color: red;
    text-align: center;
    padding: 20px;
  }
  